<div class="container">
  <div style=" text-align: center;">
    <h1>Lista de tiendas</h1>
  </div>
  <app-tienda-buscar></app-tienda-buscar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="nombreTienda">
      <th mat-header-cell *matHeaderCellDef> nombreTienda </th>
      <td mat-cell *matCellDef="let element"> {{element?.nombreTienda}} </td>
    </ng-container>
  
    <ng-container matColumnDef="direccionTienda">
        <th mat-header-cell *matHeaderCellDef> direccionTienda </th>
        <td mat-cell *matCellDef="let element"> {{element?.direccionTienda}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> correo </th>
        <td mat-cell *matCellDef="let element"> {{element?.correo}} </td>
      </ng-container>


      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> telefono </th>
        <td mat-cell *matCellDef="let element"> {{element?.telefono}} </td>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.id]">Actualizar</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
  
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="example-button-container">

    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/tiendas/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>