.title {
    text-align: center;
    font-size: 3em;
    justify-content: center;
    margin: 15px 0;
}

menu {
    padding: 10px 10px;
    margin-left: 8cm;
    margin-right: 8cm;
    background-color: aquamarine;
    text-align: center;
    display: block;

}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    cursor: pointer;
    padding: 10px 40px;
}

.indice {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0;
}