
<div class="container">

  <h1>Agregar Cliente</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="cliente.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="Nombre" [(ngModel)]="cliente.nombreCliente">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Apellido</mat-label>
    <input type="Apellido" matInput required placeholder="Apellido" [(ngModel)]="cliente.apellidoCliente">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Correo</mat-label>
    <input type="Correo" matInput required placeholder="Correo" [(ngModel)]="cliente.correo">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Telefono</mat-label>
    <input type="Telefono" matInput required placeholder="Telefono" [(ngModel)]="cliente.telefono">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Direccion</mat-label>
    <input type="Direccion" matInput required placeholder="Direccion" [(ngModel)]="cliente.direccionCliente">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/clientes">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
